<?xml version="1.0" encoding="UTF-8" ?> 
<root>
<goods_dcs>
#foreach($entry in $list)
<goods_dc id="$!{entry.id}"
grade="$!{entry.grade}"
targetGoods="$!{entry.targetgoods}"
pointCnt="$!{entry.pointcnt}"
>
<name><![CDATA[$!{entry.nameI18n}]]></name>
<rewardDesc><![CDATA[$!{entry.rewarddescI18n}]]></rewardDesc>
</goods_dc>
#end
</goods_dcs>
</root>