//手动添加的导出类名前缀,文件目录全路径，到处SWF文件全路径
var folderInfos = [
#foreach($entry in $list)
	["mid$!{entry.id}", "file:///d|/tomcat60/webapps/resRoot/换装/$!{entry.name}/","file:///d|/tomcat60/webapps/flashdir/res/data/avatar/clothes/mid$!{entry.id}.swf"],
	["midm$!{entry.id}", "file:///d|/tomcat60/webapps/resRoot/换装/$!{entry.name}/ride/","file:///d|/tomcat60/webapps/flashdir/res/data/avatar/clothes/midm$!{entry.id}.swf"],
	["midf$!{entry.id}", "file:///d|/tomcat60/webapps/resRoot/换装/$!{entry.name}/female/","file:///d|/tomcat60/webapps/flashdir/res/data/avatar/clothes/midf$!{entry.id}.swf"],
 #end
];


//配置参数
var width = 1;
var height = 1;
var frameRate = 24;
var compressionType = "photo";//压缩方式(photo:照片，lossless：无损)
var imgQuality = 80;//生成质量（范围：1-100,只在compressionType=photo的情形下可用）


//定义变量
var files;
var folder, file,fileName;
var folderInfo, classNamePrefix , exportSWFPath;
var dom, lib, tl;
var bitmapItem;


//执行生成SWF
if(folderInfos.length>0)
{
	//生成动画并发布
	for each(folderInfo in folderInfos)
	{
		classNamePrefix = folderInfo[0];
		folder = folderInfo[1];
		exportSWFPath = folderInfo[2];
		//如果没选目录,不执行
		if (FLfile.exists(folder)) {
			//遍历目录，取得文件列表
			files = FLfile.listFolder(folder + "/*.png", "files");
			if(files.length>0)
			{
				//先生成一个文档模版
				//创建新文档
				fl.createDocument();
				dom = fl.getDocumentDOM();
				dom.setPlayerVersion("9");
				dom.asVersion=3;
				dom.frameRate = frameRate;
				dom.width = width;
				dom.height = height;
				lib=dom.library;
				tl=dom.getTimeline();
				//在第一帧加入一句安全策略脚本
				tl.layers[0].frames[0].actionScript = 'import flash.system.Security;try{Security.allowDomain("*");}catch(e:Error){}';

				//清空FLASH库
				//lib.selectAll();
				//lib.deleteItem();
				//遍历文件，生成SWF
				for each(file in files)
				{
					//取得文件名
					fileName = file.replace(/^(.*\/)*([^\/]+)\..+$/,"$2");
					//添加进库，但不舞台上创建实例
					dom.importFile(folder + "/"+file,true);	
					//设置属性
					lib.selectItem(file); 
					bitmapItem = lib.getSelectedItems()[0];
					bitmapItem.allowSmoothing = true; //允许平滑
		
					if(compressionType=="lossless")
					{
						bitmapItem.compressionType = "lossless";
					}
					else
					{
						bitmapItem.compressionType = "photo";
						bitmapItem.quality = imgQuality;
					}
		
					bitmapItem.linkageExportForAS = true;
					bitmapItem.linkageExportInFirstFrame = true;
					bitmapItem.linkageIdentifier = classNamePrefix+"."+fileName;
					bitmapItem.linkageBaseClass = "flash.display.BitmapData";
					
				}
				//设置文档类
				var localSourcePath = folder.replace("file:///","").replace(/\//g,"\\").replace("\|","\:");//将“file:///E|/jsflTest/test/”的格式转化为“E:\jsflTest\test\”的格式
				dom.sourcePath = localSourcePath+";" + dom.sourcePath; //AS资源目录
				dom.docClass = classNamePrefix;//文档类包名
				//发布
				dom.exportSWF(exportSWFPath, true);
				//关闭该文档
 				fl.closeDocument(dom, false);
			}
		}
	}
}


//关闭所有打开的文件
fl.closeAll(false);
//退出flash
fl.quit(false);

//============================================================================================================