<?xml version="1.0" encoding="utf-8"?>
<root>
<tasks>
#foreach($entry in $list)
<task id="$!{entry.taskId}"
type="$!{entry.type}"
functionType="$!{entry.functiontype}"
islost="$!{entry.islost}"
publishStyle="$!{entry.publishstyle}"
receptionLevel="$!{entry.receptionlevel}"
receptionUpLevel="$!{entry.receptionuplevel}"
endTaskLevel="$!{entry.endtasklevel}"
premiseTask="$!{entry.premisetask}"
limitTime="$!{entry.limittime}"
endNpc="$!{entry.endnpc}"
taskDes="$!{entry.taskdes}"
targetMonster="$!{entry.targetmonster}"
targetGoods="$!{entry.targetgoods}"
targetNpc="$!{entry.targetnpc}"
targetArea="$!{entry.targetarea}"
targetAction="$!{entry.targetaction}"
goods="$!{entry.goods}"
gold="$!{entry.gold}"
copper="$!{entry.copper}"
experience="$!{entry.experience}"
goodFeel="$!{entry.goodfeel}"
party="$!{entry.party}"
goodBad="$!{entry.goodbad}"
title="$!{entry.title}"
targetHorse="$!{entry.targethorse}"
beginNpc="$!{entry.beginnpc}"
isRepeat="$!{entry.isrepeat}"
warrepute="$!{entry.warrepute}"
buffid="$!{entry.buffid}"
bulletin="$!{entry.bulletin}"
zhenqi="$!{entry.zhenqi}"
loopTaskDifficulty="$!{entry.looptaskdifficulty}"
loopTaskBonus="$!{entry.looptaskbonus}"
horseDrop="$!{entry.horsedrop}"
targetShopping="$!{entry.targetshopping}"
targetRecharge="$!{entry.targetrecharge}"
targetMountUpgrade="$!{entry.targetmountupgrade}"
targetGroup="$!{entry.targetgroup}"
targetFriend="$!{entry.targetfriend}"
targetAllSkillLv="$!{entry.targetallskilllv}"
targetEquip="$!{entry.targetequip}"
targetSkillLv="$!{entry.targetskilllv}"
targetPoint="$!{entry.targetpoint}"
targetChannel="$!{entry.targetChannel}"
targetBuff="$!{entry.targetBuff}"
loopMaxCount="$!{entry.loopmaxcount}"
accept_begin_time="$!{entry.acceptBeginTime2}"
complete_end_time="$!{entry.completeEndTime2}"
>
<unEndDes><![CDATA[$!{entry.unenddesI18n}]]></unEndDes>
<endDes><![CDATA[$!{entry.enddesI18n}]]></endDes>
<publishDes><![CDATA[$!{entry.publishdesI18n}]]></publishDes>
<name><![CDATA[$!{entry.nameI18n}]]></name>
<taskTargetDes><![CDATA[$!{entry.tasktargetdesI18n}]]></taskTargetDes>
</task>
#end
</tasks>
</root>