<root>
#foreach($entry in $list)
<equipmenplayconfig scheme="$!{entry.scheme}"
goodmodel_id="$!{entry.goodmodelId}"
goodmodel_name="$!{entry.goodmodelName}"
xilianshi="$!{entry.xilianshi}"
xilianshi_num="$!{entry.xilianshiNum}"
jinglian="$!{entry.jinglian}"
jinglian_num="$!{entry.jinglianNum}"
ronghe_condition="$!{entry.rongheCondition}"
shenjieshi="$!{entry.shenjieshi}"
shenjieshi_num="$!{entry.shenjieshiNum}"
next_goodmodel_id="$!{entry.nextGoodmodelId}"
befo_goodmodel_id="$!{entry.befoGoodmodelId}"
fu_cailiao1="$!{entry.fuCailiao1}"
fu_cailiao1_num="$!{entry.fuCailiao1Num}"
fu_cailiao2="$!{entry.fuCailiao2}"
fu_cailiao2_num="$!{entry.fuCailiao2Num}"
fu_cailiao3="$!{entry.fuCailiao3}"
fu_cailiao3_num="$!{entry.fuCailiao3Num}"
reset_broken_probability="$!{entry.resetBrokenProbability}"
reset_born_probability="$!{entry.resetBornProbability}"
reset_born_value="$!{entry.resetBornValue}"
reset_strengthen_probability="$!{entry.resetStrengthenProbability}"
reset_strengthen_zhenqi="$!{entry.resetStrengthenZhenqi}"
reset_add_zhenqi="$!{entry.resetAddZhenqi}"
reset_add_probability="$!{entry.resetAddProbability}"
ronghe_probability="$!{entry.rongheProbability}"
ronghe_zhenqi="$!{entry.rongheZhenqi}"
cailiao_combine_zhenqi="$!{entry.cailiaoCombineZhenqi}"
cailiao_combine_probability="$!{entry.cailiaoCombineProbability}"
shenjie_probability="$!{entry.shenjieProbability}"
shenjie_zhenqi="$!{entry.shenjieZhenqi}"
bachu_zhenqi="$!{entry.bachuZhenqi}"
bachu_probablity="$!{entry.bachuProbablity}"
break_prob="$!{entry.breakProb}"
merge_sum="$!{entry.mergeSum}"
/>
#end
</root>