<?xml version="1.0" encoding="UTF-8" ?> 
<root>
<achieves>
#foreach($entry in $list)
<achieve id="$!{entry.id}"
kind="$!{entry.kind}"
child_kind="$!{entry.childKind}"
achieve_count="$!{entry.achieveCount}"
point="$!{entry.point}"
ico="$!{entry.ico}"
good_id="$!{entry.goodId}"
isnotice="$!{entry.isnotice}"
>
<title><![CDATA[$!{entry.titleI18n}]]></title>
<beizhu><![CDATA[$!{entry.beizhuI18n}]]></beizhu>
<name><![CDATA[$!{entry.nameI18n}]]></name>
<desc><![CDATA[$!{entry.descI18n}]]></desc>
</achieve>
#end
</achieves>
</root>