<?xml version="1.0" encoding="utf-8"?>
<root>
<dgwds>
#foreach($entry in $list)
<dgwd  id="$!{entry.id}"
dzeffect_id="$!{entry.dzeffectId}"
ico_id="$!{entry.icoId}"
addattack="$!{entry.addattack}"
addattack_show="$!{entry.addattackShow}"
adddefence="$!{entry.adddefence}"
adddefence_show="$!{entry.adddefenceShow}"
addmaxhp="$!{entry.addmaxhp}"
addmaxhp_show="$!{entry.addmaxhpShow}"
addmp="$!{entry.addmp}"
addmp_show="$!{entry.addmpShow}"
addsp="$!{entry.addsp}"
addsp_show="$!{entry.addspShow}"
specialeffect_id="$!{entry.specialeffectId}"
zhufu_max="$!{entry.zhufuMax}"
faild_zhufu_min="$!{entry.faildZhufuMin}"
faild_zhufu_max="$!{entry.faildZhufuMax}"
consume_goodid="$!{entry.consumeGoodid}"
consume_num="$!{entry.consumeNum}"
consume_zq="$!{entry.consumeZq}"
upprob="$!{entry.upprob}"
upprob_show="$!{entry.upprobShow}"
need_minfaild="$!{entry.needMinfaild}"
need_maxfaild="$!{entry.needMaxfaild}"
reduce_allcrt="$!{entry.reduceAllcrt}"
reduce_slcrt="$!{entry.reduceSlcrt}"
reduce_wdcrt="$!{entry.reduceWdcrt}"
reduce_thdcrt="$!{entry.reduceThdcrt}"
reduce_gmcrt="$!{entry.reduceGmcrt}"
reduce_btscrt="$!{entry.reduceBtscrt}"
reduce_aqJv="$!{entry.reduceAqjv}"
reduce_hwhurt="$!{entry.reduceHwhurt}"
reduce_bow="$!{entry.reduceBow}"
reduce_dantian="$!{entry.reduceDantian}"
>
<degree><![CDATA[$!{entry.degree}]]></degree>
<degree_xj><![CDATA[$!{entry.degreeXj}]]></degree_xj>
<rich_level><![CDATA[$!{entry.richLevel}]]></rich_level>
<sub_desc><![CDATA[$!{entry.subDescI18n}]]></sub_desc>
<name><![CDATA[$!{entry.nameI18n}]]></name>
<main_desc><![CDATA[$!{entry.mainDesc}]]></main_desc>
</dgwd>
#end
</dgwds>
</root>