<?xml version="1.0" encoding="UTF-8" ?> 
<root>
#foreach($entry in $list)
<horsemodell
id="$!{entry.id}"
headiconId="$!{entry.headiconId}"
avatarId="$!{entry.avatarId}"
quality="$!{entry.quality}"
jinjie="$!{entry.jinjie}"
jinjieGoodsId="$!{entry.jinjieGoodsId}"
jinjieGoodsCount="$!{entry.jinjieGoodsCount}"
jinjieCopper="$!{entry.id}"
jinjieSuccessProbability="$!{entry.jinjieSuccessProbability}"
qualityUpgradeGoodsId="$!{entry.qualityUpgradeGoodsId}"
qualityUpgradeGoodsCount="$!{entry.qualityUpgradeGoodsCount}"
qualityUpgradeCopper="$!{entry.qualityUpgradeCopper}"
qualityUpgradeProbability="$!{entry.qualityUpgradeProbability}"
savvyUpgradeGoodsId="$!{entry.savvyUpgradeGoodsId}"
savvyUpgradeGoodsCount="$!{entry.savvyUpgradeGoodsCount}"
savvyUpgradeCopper="$!{entry.savvyUpgradeCopper}"
savvyUpgradeProbability="$!{entry.savvyUpgradeProbability}"
potentialUpgradeGoodsId="$!{entry.potentialUpgradeGoodsId}"
potentialUpgradeGoodsCount="$!{entry.potentialUpgradeGoodsCount}"
potentialUpgradeCopper="$!{entry.potentialUpgradeCopper}"
potentialUpgradeProbability="$!{entry.potentialUpgradeProbability}"
maxLevel="$!{entry.maxLevel}"
addOwnerHp="$!{entry.addOwnerHp}"
addOwnerMp="$!{entry.addOwnerMp}"
addOwnerSp="$!{entry.addOwnerSp}"
addOwnerAttack="$!{entry.addOwnerAttack}"
addOwnerDefence="$!{entry.addOwnerDefence}"
addOwnerCrt="$!{entry.addOwnerCrt}"
addOwnerDodge="$!{entry.addOwnerDodge}"
addOwnerAtkspeed="$!{entry.addOwnerAtkspeed}"
addOwnerMovespeed="$!{entry.addOwnerMovespeed}"
initLevel="$!{entry.initLevel}"
savvyMin="$!{entry.savvyMin}"
savvyMax="$!{entry.savvyMax}"
livingnessMin="$!{entry.livingnessMin}"
livingnessMax="$!{entry.livingnessMax}"
potentialAttackMin="$!{entry.potentialAttackMin}"
potentialAttackMax="$!{entry.potentialAttackMax}"
potentialDefenceMin="$!{entry.potentialDefenceMin}"
potentialDefenceMax="$!{entry.potentialDefenceMax}"
potentialLightMin="$!{entry.potentialLightMin}"
potentialLightMax="$!{entry.potentialLightMax}"
potentialStrongMin="$!{entry.potentialStrongMin}"
potentialStrongMax="$!{entry.potentialStrongMax}"
bornSkill="$!{entry.bornSkill}"
savvySkill="$!{entry.savvySkill}"
maxPermitSkillCount="$!{entry.maxPermitSkillCount}"
footEffectId="$!{entry.footEffectId}"
attack_interval="$!{entry.attackInterval}"
attack_audio="$!{entry.attackAudio}"
hurt_audio="$!{entry.hurtAudio}"
die_audio="$!{entry.delAudio}"
use_me_grade_limit="$!{entry.useMeGradeLimit}"
zuhe_skill_count="$!{entry.zuheSkillCount}"
kind="$!{entry.kind}"
petAction="$!{entry.petAction}"
>
<name><![CDATA[$!{entry.nameI18n}]]></name>
</horsemodell>
#end
</root>