<?xml version="1.0" encoding="utf-8"?>
<project basedir="." default="build">
	<property file="build.properties" />
	<path id="appClassPath">
		<fileset dir="${basedir}/../WEB-INF/lib" includes="*.jar" />
		<fileset dir="${basedir}/applib" includes="*.jar" />
		
		
	</path>
	<!--建立目录结构-->
	<target name="build">
	
		#foreach($entry in $list)
		<copy file="${rooticobigdir}$!{entry.name}" tofile="${icobigdir}$!{entry.filename}"   overwrite="true"></copy>
		#end
	
	</target>
</project>