<?xml version="1.0" encoding="UTF-8" ?> 
<root>
#foreach($entry in $list)
<skillupgradeexp skill_id="$!{entry.skillId}"
skill_grade="$!{entry.skillGrade}"
exp_cash="$!{entry.expCash}"
exp_zhengqi="$!{entry.expZhengqi}"
>
</skillupgradeexp>
#end
</root>