<?xml version="1.0" encoding="GBK"?>
<project basedir="." default="build">
	<property file="build.properties" />
	<path id="appClassPath">
		<fileset dir="${basedir}/../WEB-INF/lib" includes="*.jar" />
		<fileset dir="${basedir}/applib" includes="*.jar" />
	</path>
	<path id="svnant.classpath">
		<fileset dir="${basedir}/svnlib">
			<include name="**/*.jar" />
		</fileset>
	</path>

	<!-- load the svn task -->
	<typedef resource="org/tigris/subversion/svnant/svnantlib.xml" classpathref="svnant.classpath" />
	<!--建立目录结构-->
	<target name="build">
		<java fork="true" dir="${basedir}/appPngToSwf" classpathref="appClassPath" failonerror="true" classname="net.snake.service.ShengChengVm" args="applicationContext.xml">
		<arg value="avatar2"/>
		#foreach($entry in $list)
			<arg value="$!{entry}"/>
		#end
		</java><!---->
	<svn username="liyuanzhen" password="198546qwe">
			<update dir="${resroot.dir}" />
		</svn>
		<exec command="${flash.exe} ${basedir}/appPngToSwf/huanzhuang-avatar.jsfl">
						</exec>
		<ant target="add" antfile="${basedir}/updateFlash.xml"></ant>
	</target>
</project>