<?xml version="1.0" encoding="UTF-8" ?> 
<root>
<dujieAdds>
#foreach($entry in $list)
<dujie  
f_id="$!{entry.id}" 
f_add_hp="$!{entry.add_hp}" 
f_add_mp="$!{entry.add_mp}" 
f_add_attack="$!{entry.add_attack}" 
f_add_defence="$!{entry.add_defence}" 
f_add_crt="$!{entry.add_crt}" 
f_add_dodge="$!{entry.add_dodge}" 
f_add_hit="$!{entry.add_hit}" 
/>
#end
</dujieAdds>
</root>