<?xml version="1.0" encoding="UTF-8" ?> 
<root>
<hidden_weaponss>
#foreach($entry in $list)
<hidden_weapons  id="$!{entry.id}"
grade="$!{entry.grade}"
xiu_grade="$!{entry.xiuGrade}"
mastery="$!{entry.mastery}"
hidden_weaponscol="$!{entry.hiddenWeaponscol}"
attack_dis="$!{entry.attackDis}"
attack_targets="$!{entry.attackTargets}"
trib_lv="$!{entry.tribLv}"
trib_real_value="$!{entry.tribRealValue}"
spcial_type="$!{entry.spcialType}"
upgrade_need_copper="$!{entry.upgradeNeedCopper}"
upgrade_need_zhenqi="$!{entry.upgradeNeedZhenqi}"
upgrade_need_goods="$!{entry.upgradeNeedGoods}"
upgrade_trib_lv="$!{entry.upgradeTribLv}"
upgrade_trib_real_lv="$!{entry.upgradeTribRealLv}"
upgrade_min_cnt="$!{entry.upgradeMinCnt}"
upgrade_max_cnt="$!{entry.upgradeMaxCnt}"
skill_id="$!{entry.skillId}"
>
<spcial_desc><![CDATA[$!{entry.spcialDescI18n}]]></spcial_desc>
<method><![CDATA[$!{entry.methodI18n}]]></method>
<name><![CDATA[$!{entry.nameI18n}]]></name>
</hidden_weapons>
#end
</hidden_weaponss>
</root>