<?xml version="1.0" encoding="utf-8"?>
<root>
  <npcs>
#foreach($entry in $list)
<npc id="$!{entry.id}"
sceneid="$!{entry.sceneid}"
x="$!{entry.x}"
y="$!{entry.y}"
npcmodel="$!{entry.npcmodel}"
npctype="$!{entry.npctype}"
npc_icon="$!{entry.npcIcon}"
functions="$!{entry.functions}"
function_task="$!{entry.functionTask}"
function_shop="$!{entry.functionShop}"
function_transfer="$!{entry.functionTransfer}"
shopType="$!{entry.shopType}"
npc_big_icon="$!{entry.npcBigIcon}"
findX="$!{entry.findx}"
findY="$!{entry.findy}"
direction="$!{entry.direction}"
attack_audio="$!{entry.attackAudio}"
hurt_audio="$!{entry.hurtAudio}"
die_audio="$!{entry.delAudio}"
can_redirect="$!{entry.canRedirect}"
randomTalk="$!{entry.randomtalk}"
>
<simpleTalk><![CDATA[$!{entry.simpletalkI18n}]]></simpleTalk>
<name><![CDATA[$!{entry.nameI18n}]]></name>
<nickname><![CDATA[$!{entry.nicknameI18n}]]></nickname>
</npc>
#end
  </npcs>
</root>