<?xml version="1.0" encoding="UTF-8" ?> 
<root>
#foreach($entry in $list)
<skill id="$!{entry.id}"
image="$!{entry.image}"
coolingtime="$!{entry.coolingtime}"
iscommonCd="$!{entry.iscommonCd}"
depletionParameter="$!{entry.depletionParameter}"
depletionValue="$!{entry.depletionValue}"
distance="$!{entry.distance}"
useway="$!{entry.useway}"
target="$!{entry.target}"
effectIds="$!{entry.effectIds}"
isgeneral="$!{entry.isgeneral}"
position="$!{entry.position}"
charLevel="$!{entry.charLevel}"
popsinger="$!{entry.popsinger}"
learningBook="$!{entry.learningBook}"
revise="$!{entry.revise}"
gradeLimit="$!{entry.gradeLimit}"
hurtRevise="$!{entry.hurtRevise}"
skilltype="$!{entry.skilltype}"
triggerProbability="$!{entry.triggerProbability}"
effectResId0="$!{entry.effectResId0}"
effectResId1="$!{entry.effectResId1}"
effectResId2="$!{entry.effectResId2}"
showOrder="$!{entry.showOrder}"
common_cool_type="$!{entry.commonCoolType}"
common_cool_time="$!{entry.commonCoolTime}"
type="$!{entry.type}"
big_ico="$!{entry.bigIco}"
sound="$!{entry.sound}"
wugong_type="$!{entry.wugongType}"
is_zuhe="$!{entry.isZuhe}"
bang_gong="$!{entry.bangGong}"
learn_type="$!{entry.learnType}"
show_action="$!{entry.showAction}"
arrow_way="$!{entry.arrowWay}"
upgradedesc="$!{entry.upgradedesci18n}"
>
<name><![CDATA[$!{entry.nameI18n}]]></name>
<source><![CDATA[$!{entry.sourceI18n}]]></source>
<desc><![CDATA[$!{entry.descI18n}]]></desc>
</skill>
#end
</root>