<?xml version="1.0" encoding="utf-8"?>
<root>
<shop_shengwangs>
#foreach($entry in $list)
<shop_shengwang id="$!{entry.id}"
goods_type="$!{entry.goodsType}"
goodmodel_id="$!{entry.goodmodelId}"
sale_type="$!{entry.saleType}"
goods_price="$!{entry.goodsPrice}"
last_date="$!{entry.lastDate}"
is_bind="$!{entry.isBind}"
is_enable="$!{entry.isEnable}"
addition_desc="$!{entry.additionDesc}"
strengthen_desc="$!{entry.strengthenDesc}"
>
<desc><![CDATA[$!{entry.descI18n}]]></desc>
<use_desc><![CDATA[$!{entry.useDescI18n}]]></use_desc>
</shop_shengwang>
#end
</shop_shengwangs>
</root>