<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"><log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="ALL" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%p,%c{1}] %m%n" />
		</layout>
	</appender>
	<appender name="FileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/log/logs/gameserver.log" />
		<param name="Threshold" value="ALL" />
		<param name="DatePattern" value="'.'yyyyMMddHH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss} %p][%c]%m%n" />
		</layout>
	</appender>	<appender name="AsyncFileAppender" class="org.apache.log4j.AsyncAppender">		<param name="BufferSize" value="2048" />		<appender-ref ref="FileAppender" />	</appender>
	<root>
		<level value="info" />
		<!-- 注:部署时,只用 FileAppender 开发时只用Console -->
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FileAppender" />
	</root>
</log4j:configuration>